::-moz-selection {
  color: rgb(218, 218, 218);
  background: #385290;
}

::selection {
  color: rgb(218, 218, 218);
  background: #385290;
}

.covered-by-your-grace-regular {
  font-family: "Covered By Your Grace", serif;
  font-weight: 400;
  font-style: normal;
}

.afacad-django {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

.grandstander-schultz {
  font-family: "Grandstander", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
}

.outfit-fritz {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efefef;
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}

nav {
  background-color: #0f0f0f;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  width: 100vw;
  margin: auto;
}
nav #user-name {
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background 0.3s;
  font-size: 1vw;
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

nav a:hover {
  background-color: #313131;
  border-radius: 10px;
}

.hero {
  background-color: #223563;
}

.container {
  padding: 20px;
  max-width: 80vw;
  height: 50vh;
  margin: 0 auto;
}

.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.page h1 {
  font-size: 4.5vw;
  color: white;
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
}
.page p {
  font-size: 1.5vw;
  color: white;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
}

.hidden {
  display: none;
}

.form-container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #1442ad;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #1442ad;
}

.tripleheader {
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 1.2vw;
  margin-top: 0px;
  margin-bottom: 70px;
  text-align: center;
}

.triple {
  width: 60vw;
  margin: 50px auto;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}
.triple .item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  max-height: 30vw;
  background-color: #ffffff;
  box-shadow: 0px 1px 20px -17px rgba(0, 0, 0, 0.75);
}
.triple .item .pdiv {
  overflow: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 25px;
}
.triple .item .pdiv h2 {
  text-align: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: medium;
}
.triple .item .pdiv p {
  text-align: justify;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.triple .imgdiv {
  overflow: hidden;
  height: 100%;
}
.triple .imgdiv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.triple .i3 img {
  -o-object-position: center;
     object-position: center;
}

.choose-section {
  background-color: #223563;
}
.choose-section .choosegenre {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
}
.choose-section .choosegenre .choosetitle {
  text-align: center;
  color: white;
  font-size: 1.5vw;
}
.choose-section .choosegenre .choices {
  display: flex;
  justify-content: space-between;
}
.choose-section .choosegenre .choices a {
  color: #1b2a4d;
  text-decoration: none;
  padding: 10px 15px;
  transition: background 0.2s;
  background-color: #ffffff;
  border-radius: 10px;
  border: #818181;
  font-size: 1vw;
  font-family: "Afacad", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.choose-section .choosegenre .choices a:hover {
  background-color: rgb(25, 25, 36);
  color: #ffffff;
}

@media (max-width: 600px) {
  nav {
    position: relative;
    flex-direction: column;
  }
  nav li {
    border: #ffffff;
  }
  nav a {
    margin: 5px 0;
    font-size: 1.5em;
  }
  .hero {
    height: 100vw;
  }
  .page h1 {
    font-size: 50px;
  }
  .page p {
    font-size: min(4vw, 20px);
  }
  .triple {
    width: 80vw;
    margin: 50px auto;
    margin-top: 0px;
    max-height: -moz-min-content;
    max-height: min-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 50px;
    margin-bottom: 50px;
  }
  .triple .item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
    min-height: 100vw;
    height: 150vh;
    background-color: #ffffff;
    box-shadow: 0px 1px 20px -17px rgba(0, 0, 0, 0.75);
  }
  .triple .item .pdiv {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 25px;
  }
  .triple .item .pdiv h2 {
    text-align: center;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: medium;
  }
  .triple .item .pdiv p {
    text-align: justify;
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .triple .imgdiv {
    height: 100%;
    overflow: hidden;
  }
  .triple .imgdiv img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .triple .i3 img {
    -o-object-position: center;
       object-position: center;
  }
  .tripleheader {
    font-family: "Afacad", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-size: 1.7vh;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }
  .triplesection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
@media (min-width: 1000px) and (max-width: 1300px) {
  nav a {
    margin: 5px 0;
    font-size: 1.8vw;
  }
  .page h1 {
    font-size: 6vw;
  }
  .page p {
    font-size: 2vw;
  }
}/*# sourceMappingURL=style.css.map */