::selection {
    color: rgb(218, 218, 218);
    background: #385290;
  }

.covered-by-your-grace-regular {
    font-family: "Covered By Your Grace", serif;
    font-weight: 400;
    font-style: normal;
  }

.afacad-django {
    font-family: "Afacad", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
  }

.grandstander-schultz {
    font-family: "Grandstander", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: regular;
  }

  .outfit-fritz {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: medium;
  }

/* General Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #efefef;

    font-family: "Afacad", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}


nav {
    background-color: #0f0f0f;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    width: 100vw;
    margin: auto;

    #user-name {
        display: none;
    }
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background 0.3s;

    font-size: 1vw;
    font-family: "Afacad", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

nav a:hover {
    background-color: #313131;
    border-radius: 10px;
}

.hero {
    background-color: #223563;
}

.container {
    padding: 20px;
    max-width: 80vw;
    height: 50vh;
    margin: 0 auto;
}

.page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
    h1 {
        font-size: 4.5vw;   
        color: white;

        font-family: "Afacad", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: bold;
    }

    p{
        font-size: 1.5vw;
        color: white;

        font-family: "Outfit", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: medium;
    }
}

.hidden {
    display: none;
}

.form-container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #1442ad;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #1442ad;
}

.tripleheader{
    font-family: "Afacad", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
    font-size: 1.2vw;

    margin-top: 0px;
    margin-bottom: 70px;

    text-align: center;
}



.triple{
    // border: 2px solid red;
    width: 60vw;
    margin: 50px auto;
    margin-bottom: 0px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;

    .item{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
        max-height: 30vw;

        background-color: #ffffff;

        box-shadow: 0px 1px 20px -17px rgba(0,0,0,0.75);

        .pdiv{
            // border: 2px solid red;
            overflow: hidden;
            overflow-y: auto;
            display: grid;
            grid-template-rows: 1fr 2fr;
            padding: 25px;

            h2{
                text-align: center;
                font-family: "Outfit", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: medium;
            }

            p{
                text-align: justify;
                font-family: "Outfit", serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
            }
        }
    }

    .imgdiv{
        overflow: hidden;
        height: 100%;
    
        img{
            width: 100%; 
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    .i3{
        img{
            object-position: center;
        }
    }


}

.choose-section{
    background-color: #223563;
    // border: 2px solid chocolate;

    .choosegenre {
        display: flex;
        flex-direction: column;
        width: 60vw;
        margin: 0 auto;
    
        // border: 2px solid rgb(0, 255, 123);
    
        .choosetitle{
            text-align: center;
            color: white;
            font-size: 1.5vw;
            // border: 2px solid red;
        }
    
        .choices{
            // border: 2px solid rgb(0, 26, 255);

            display: flex;
            justify-content: space-between;

            a {
                color: #1b2a4d;
                text-decoration: none;
                padding: 10px 15px;
                transition: background 0.2s;
                background-color: #ffffff;
                border-radius: 10px;
                border: #818181;

                font-size: 1vw;
                font-family: "Afacad", serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
            }
            
            a:hover{
                background-color: rgb(25, 25, 36);
                color: #ffffff;
            }
        }
    }
}







@media (max-width: 600px) {
    nav {
        position: relative;
        flex-direction: column;
        li{
            border: #ffffff;
        }
    }

    nav a {
        margin: 5px 0;
        font-size: 1.5em;
    }

    .hero {
        height: 100vw;
    }

    .page {
        h1 {
            font-size: 50px;
        }
    
        p{
            font-size: min(4vw, 20px);
        }
    }
    
    .triple{
        width: 80vw;
        margin: 50px auto;
        margin-top: 0px;
        max-height: min-content;
    
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows:  repeat(3, 1fr);
        grid-row-gap: 50px;

        // border: 2px solid #1442ad;
        margin-bottom: 50px;
    
        .item {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
            grid-column-gap: 50px;
            grid-row-gap: 0px;
            min-height: 100vw;
            height: 150vh;
    
            background-color: #ffffff;
    
            box-shadow: 0px 1px 20px -17px rgba(0,0,0,0.75);
    
            .pdiv{
                display: grid;
                grid-template-rows: 1fr 2fr;
                padding: 25px;
    
                h2{
                    text-align: center;
                    font-family: "Outfit", serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: medium;
                }
    
                p{
                    text-align: justify;
                    font-family: "Outfit", serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                }
            }
        }
    
        .imgdiv{
            height: 100%;
            overflow: hidden;
        
            img{
                width: 100%; 
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
    
        .i3{
            img{
                object-position: center;
            }
        }
    
    
    }

    .tripleheader{
        font-family: "Afacad", serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: bold;
        font-size: 1.7vh;
    
        margin-top: 0px;
        margin-bottom: 0px;
    
        text-align: center;

        // border: 2px solid rgb(0, 255, 17);
    }

    .triplesection{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;

        margin-bottom: 10px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    nav a {
        margin: 5px 0;
        font-size: 1.8vw;
    }

    .page {
        h1 {
            font-size: 6vw;
        }
    
        p{
            font-size: 2vw;
        }
    }
    
}